/* You can add global styles to this file, and also import other style files */
.box{
    border: 1px solid #c3c3c3;
    position: absolute;
    left: 490px;
    top:200px;
    padding: 50px; 
    background-color: #ececec; 
    border-radius: 5px;
    box-shadow: 0px 2px 10px #949494;
    overflow: auto; 
}
/*ececec*/